html {
    font-family: 'Suez One', serif;
    font-weight: 400;
}
.number > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.button {
    background-color: rgb(241, 241, 241);
    border: 2px solid rgb(4,4,251);
    border-radius: 10px;
    padding: 3px 6px;
    font-size: 130%;
    margin: 0 1%;
}
.button:hover {
    background-color: rgb(4,4,251);
    cursor: pointer;
}
.checked {
    background-color: rgb(4,4,251);
}
.timer input, .questiones input {
    font: 400 130% 'Suez One';
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(241, 241, 241);
    padding: 3px 6px;
    border-color: rgb(4,4,251);
}
.timer label {
    font-size: 130%;
}
.timer div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.timer div > * .share-save div * {
    margin: 0 1%;
}
.share-save .button {
    width: fit-content;
}
.questiones > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.questiones > div div {
    margin: 2% 2%;
    align-items: center;
    display: none;
    flex-direction: column;
    height: fit-content;
}
.questiones .shown {
    display: flex;
}
.questiones div div > * {
    margin: 1% auto;
}
h1, h2 {
    text-align: center;
}
.share-save div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
body > .button {
    position:   absolute;
    top: 1em;
    right: 1em;
}
a {
    text-decoration: none;
    color: black;
}
@media only screen and (max-width: 410px) {
    .button {
        font-size: 100%;
    }
}
@media only screen and (max-width: 500px) {
    h1 {
        margin-top: 2em;
    }
}
