body {
    display: flex;
    align-items: center;
    justify-content: center;
}
.singup {
 padding: 5px 10px;
 background-color: rgb(241, 241, 241);
 box-shadow: 5px 5px 0 0 rgb(228, 228, 228);
 border-radius: 10px;
 width: fit-content;
 height: fit-content;
}
.singup:hover {
    background-color: white;
}
.singup a::after {
    content: url(../Images/Google__G__Logo.svg.png);
    vertical-align: text-bottom;
}