html {
    font-family: 'Suez One', serif;
    font-weight: 400;
}
body {
    margin: 0;
    height: 100vh;
}
.wrap {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: "score menu"
                         "okruh otazky";
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1.5fr 8fr;
    align-items: center;
    justify-items: center;
}
.score {
    display: flex;
    justify-content: center;
    margin: 1% 0 3% 0;
    font-size: 160%;
    width: 100%;
    height: fit-content;
}
.score > * {
    margin-left: 0.5%;
}
.score > *:nth-child(odd) {
    margin-left: 2%;
}
.cas::after {
    content: url(../Images/cas.svg);
    padding-right: 6%;
    vertical-align: text-bottom;
}
.pocet::after {
    content: url(../Images/Pocet-otazek.svg);
    padding-right: 6%;
    vertical-align: text-bottom;
}
.spravne::after {
    content: url(../Images/Spravne-odpovedi.svg);
    padding-right: 6%;
    vertical-align: text-bottom;
}
.spatne::after {
    content: url(../Images/spatne-odpovedi.svg);
    padding-right: 6%;
    vertical-align: text-bottom;
}
.okruh {
    background: url(../Images/trasa_1.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    width: 100vh;
    height: 62vh;
    margin: 0 auto;
}
.formule {
    position: absolute;
    transition: all ease-in-out 1s;
    background: url(../Images/formule1.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 8%;
    height: 8%;
}
.pos0 { left: 65%; bottom: 20%; transform: rotate(346deg);}
.pos1 { left: 80%; bottom: 27%; transform: rotate(346deg);}
.pos2 { left: 89.5%; bottom: 36%; transform: rotate(275deg);}
.pos3 { left: 86.5%; bottom: 50%; transform: rotate(215deg);}
.pos4 { left: 76%; bottom: 51.5%; transform: rotate(180deg);}
.pos5 { left: 62%; bottom: 51%; transform: rotate(190deg);}
.pos6 { left: 58%; bottom: 64.5%; transform: rotate(300deg);}
.pos7 { left: 60%; bottom: 80%; transform: rotate(220deg);}
.pos8 { left: 47%; bottom: 85.5%; transform: rotate(190deg);}
.pos9 { left: 36.5%; bottom: 80%; transform: rotate(110deg);}
.pos10 { left: 30%; bottom: 75%; transform: rotate(200deg);}
.pos11 { left: 20%; bottom: 84%; transform: rotate(200deg);}
.pos12 { left: 7%; bottom: 83.5%; transform: rotate(170deg);}
.pos13 { left: 3%; bottom: 73%; transform: rotate(80deg);}
.pos14 { left: 12%; bottom: 57%; transform: rotate(40deg);}
.pos15 { left: 22%; bottom: 37%; transform: rotate(50deg);}
.pos16 { left: 33%; bottom: 18%; transform: rotate(35deg);}
.pos17 { left: 43%; bottom: 12%; transform: rotate(-10deg);}
.pos18 { left: 57%; bottom: 17%; transform: rotate(-14deg);}
.pos19 { left: 75%; bottom: 25%; transform: rotate(-14deg);}

.menu {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 1% 0 3% 0;
    font-size: 160%;
    width: 100%;
}
.menu span {
   display: block;
   text-align: center;
   width: 40%;
   padding: 3% 0;
}
.otazky {
 display: flex;
 flex-direction: column;
 font-size: 150%;
 margin: 0 auto;
 text-align: center;
 width: 90%;
 min-width: 30vh;
}
.otazky > * {
    margin-top: 5%;
    width: 100%;
}
.otazky span {
    padding: 5% 0;
    display: block;
}
.otazka span, .odpoved span, .menu span {
    box-shadow: 5px 5px 0 0 rgb(228, 228, 228);
    border-radius: 10px;
}
.scoreboard {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(87, 87, 87, 0.616);
    font-size: 140%;
}
.background {
    position: absolute;
    top: 30%;
    right: 30%;
    width: 40%;
    height: 40%;
    background: rgb(251,194,59);
    border-radius: 20px;
    box-shadow: 5px 5px 0 0 rgb(228, 228, 228);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.background > * {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.scoreboard .spatne {
    position: absolute;
    right: 2%;
    top: 3%;
}

.none { display: none;}
.hover:hover {cursor: pointer; color: white;}
.green {color: rgb(117, 255, 3);}
.red {color: rgb(255, 20, 30);}

.bggery {background-color: rgb(241, 241, 241);}
.bgred {background-color: rgb(255, 20, 30);}
.bggreen {background-color: rgb(117, 255, 3);}
.bgblue {background-color: rgb(4,4,251);}

#menu {grid-area: menu;}
#okruh {grid-area: okruh;}
#score {grid-area: score;}
#otazky {grid-area: otazky;}

@media only screen and (max-width: 1440px) {
    .wrap {
        grid-template-areas: "score menu"
                             "okruh okruh"
                             "otazky otazky";
        grid-template-columns: 3fr 2fr;
        grid-template-rows: 1.5fr 6fr 3fr;
    }
    .otazky {
        flex-direction: row;
        justify-content: space-around;
        margin: 0;
        width: 100%;
        min-width: 15vh;
       }
       .otazky > * {
        margin-top: 0;
        width: 15%;
    }
    .okruh {
        margin: 2% auto;
    }
}
@media only screen and (max-width: 1080px) {
    .okruh {
        width: 67vh;
        height: 41vh;
    }
    .otazky {
        flex-direction: column;
        margin: 0 auto;
        width: 80%;
        margin-bottom: 2%;
       }
       .otazky > * {
        margin-top: 2%;
        width: 100%;
    }
    .otazky span {
        padding: 3% 0;
        display: block;
    }
}
@media only screen and (max-width: 760px) {
    .okruh {
        width: 50vh;
        height: 31vh;
    }
        .wrap {
        grid-template-areas: "score score"
                             "menu menu"
                             "okruh okruh"
                             "otazky otazky";
        grid-template-rows: 1fr 2fr 8fr 8fr;
    }
    .menu {
        margin: 1% 0 2% 0;
        font-size: 150%;
    }
    .menu span {
       width: 40%;
       padding: 1.5% 0;
    }
    .score {
        margin: 1% 0 1% 0;
        font-size: 150%;
    }
}
@media only screen and (max-width: 600px) {
    .scoreboard {
        font-size: 100%;
    }
}
@media only screen and (max-width: 565px) {
    .okruh {
        transform: rotate(-90deg);
        margin: 0;
    }
    .wrap {
        grid-template-areas: "score score"
                             "menu menu"
                             "okruh okruh"
                             "otazky otazky";
        grid-template-rows: 1fr 1fr 6fr 4fr;
    }
}
@media only screen and (max-width: 410px) {
    .score {
        margin: 1% 0 1% 0;
        font-size: 120%;
    }
    .background {
        width: 60%;
    }
}